<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">


    <!--扫描的包-->
    <context:component-scan base-package="com.xx.controller"/>

    <!--开启注解驱动-->
    <mvc:annotation-driven/>


    <!--，如果发现是静态资源的请求，就将该请求转由Web应用服务器默认的Servlet处理，
    如果不是静态资源的请求，才由DispatcherServlet继续处理。-->

    <mvc:default-servlet-handler/>

    <!--静态资源直接访问-->
    <mvc:resources mapping="/css/**" location="/WEB-INF/css/"/>


    <!--配置视图解析-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/"/>
        <property name="suffix" value=".jsp"/>
    </bean>
    <!--    注册登录拦截-->
<!--        <mvc:interceptors>-->
<!--            <mvc:interceptor>-->
<!--                <mvc:mapping path="/**"/>-->
<!--                <bean class="com.xx.utils.MyIntercepter"/>-->
<!--            </mvc:interceptor>-->
<!--        </mvc:interceptors>-->

    <!--    解决跨域问题-->
    <mvc:cors>
        <mvc:mapping path="/**" allowed-origins="*" allow-credentials="true" max-age="1800"
                     allowed-methods="GET,POST,PUT,DELETE,PATCH,OPTIONS"/>
    </mvc:cors>
</beans>